---
---

@import "{{ site.theme }}";

header {
  display: none;
}

#nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
    
  a {
    display: block;
    width: 60px;
  }
}

